 
  .btnSignup {
    text-decoration: none !important;
    font-family: "pSans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4c7df0 !important;
    border: 1px solid #4c7df0 !important;
    border-radius: 10px !important;
    width: fit-content;
  }
  
  .btnSignup:hover {
    background-color: #4c7df0;
    color: #fff !important;
  }
  