/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/components/HomeProds/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/

.page_mlBadge__TSUwy{
    width: -moz-fit-content !important;
    width: fit-content !important;
    font-size:medium;
    border: 2px solid #4c7df0 !important;
    color: #4c7df0 !important;
    background-color: #fff !important;  
  }
  
  .page_proContain__LTZR6{
    padding-left: 4.5rem;
  }
  
