@font-face {
    font-family: "Tommy";
    src: url(../../../public/font/madeTommy.otf);
  }
  
  @font-face {
    font-family: "pSans";
    src: url(../../../public/font/productSans.ttf);
  }
  
  @font-face {
    font-family: "Wasatsh Brush";
    src: url(../../../public/font/wasatsh-brush.ttf);
  }
  
  @import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
  
  @import url(https://fonts.googleapis.com/css2?family=DM+Sans&display=swap);
  

  
  .navWrapper {
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100vw;
    z-index: 100;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
  }
  
  .navLinks {
    text-decoration: none;
    color: #000;
    font-family: "pSans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  
  .navLinks.active {
    color: #4c7df0;
  }
  
  .navBrand {
    font-family: "TOMMY";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #4c7df0;
  }
  
  .btnSignup {
    text-decoration: none !important;
    font-family: "pSans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #4c7df0 !important;
    border: 1px solid #4c7df0 !important;
    border-radius: 10px !important;
  }
  
  .btnSignup:hover {
    background-color: #4c7df0;
    color: #fff !important;
  }
  
  .sliderImg {
    width: 80vw !important;
  }
  
  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5ms;
  }
  
  .owl-dot span {
    background: #4c7df0 !important;
    opacity: 0.5;
  }
  
  .owl-dot.active span {
    background-color: #4c7df0 !important;
    opacity: 1;
    width: 12px !important;
    height: 12px !important;
  }
  
  .secondSection {
    background-image: url("../../../public/images/secondImg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 450px;
  }
  
  .textSection {
    position: relative;
  }
  
  .pureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .supportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
  }
  
  .tsPureText {
    font-family: "Bebas Neue";
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .tsSupportText {
    font-family: "Wasatsh Brush";
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 118px;
    text-align: center;
    color: #4c7df0;
    margin-top: -40px;
    margin-left: -20px;
  }
  
  .phoneMenuBtn {
    font-size: x-large;
    display: none;
  }
  
  .whyChooseUsText {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #3a3b48;
    padding-left: 2.5rem;
  }
  
  .helpTextThirdSection {
    font-family: "DM Sans", sans-serif;
    padding-left: 2.5rem;
  }
  
  .blueText {
    color: #4c7df0;
  }
  
  @media only screen and (max-width: 800px) {
    .phoneMenuBtn {
      display: flex;
    }
  
    .navLinksWrapper {
      display: none;
    }
  }
  